/* Universal Styles */
*{
    color:#E8DED2;
}

body{
    background-color:#056676;
    background-image:url("../Images/shattered.png");
    text-align:center;
    
}
/* Headings */

/* NavBar */
.navbar{
    height: 100%;
    width:0;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#056676;
    overflow-x: hidden;
    padding-top:60px;
    transition:0.5s;

}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.nav-link{
    padding: 8px 8px 8px 32px;
    display:block;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

.social-icon{
    height:30px;
}


/* Containers */

/* About Section */
.about-container{
    background-color:#056676;
    margin:0 auto 100px;
    padding: 7% 13%;
    background-image:url("../Images/shattered.png");
    position:absolute;
}

.profile{
    text-align:center;
    position:relative;
    bottom:100px;
}

.nick{
    height:300px;
    border-radius:50%;
    position:relative;
    top:50px;
}

.greeting{
    position:relative;
    top:40px;
}

.intro{
    position:relative;
    margin:80px 150px 0px;
}

.cv{

}

/* Projects Section */

.project-container{
    background-color:#056676;
    padding:7% 13%;
    background-image:url("../Images/shattered.png");
    position:relative;
    top:600px

}

/* Skills*/

.skill-container{
    width:50%;
}

.skill-image{
    height:100px;
    width:100px;
    float:left;
    margin-right:100px;
}

.skill-row{
    margin-top:100px;
}

.skill-heading{
margin-left:150px;
text-align:left;
}

.skill-text{
    margin-left:150px;
    text-align:left;
}

/* Projects Carousels */

/* Contact Section */

.contact-container{
    background-color:#056676;
    padding:7% 13%;
    background-image:url("../Images/shattered.png");
    position:relative;
    top: 600px;

}

/* Button */

.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0fd222), color-stop(1, #05a515) );
	background:-moz-linear-gradient( center top, #0fd222 5%, #05a515 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fd222', endColorstr='#05a515');
	background-color:#0fd222;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
text-indent:0;
	display:inline-block;
	color:#fcfcfc;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #05a515), color-stop(1, #0fd222) );
	background:-moz-linear-gradient( center top, #05a515 5%, #0fd222 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05a515', endColorstr='#0fd222');
	background-color:#05a515;
}
.btn:active {
	position:relative;
	top:1px;
}

.contact-me .social-icon{
    display:inline-block;
    height:50px;
    padding:5px;
    text-align:center;

}

/* footer */
.footer{
    background-color:#056676;
    background-image:url("../Images/shattered.png");
    position:relative;
    top:600px;

}